{% extends "base.html" %}

{% block content %}

<div class="container-fluid" >  
<table>
    <tr valign="top">
        <td><img class="rounded-circle account-img" src="{{ athlete.profile }}"></td>
        <td>
            <h2> <span><em>  Athlete </em> </span>: {{ athlete.firstname }} </h2>
        </td>
        <td>
            <h2>{{ athlete.lastname }} </h2>
        </td>
    </tr>
</table>
</div>
<hr>
<div class="container" >
<h3>Select the date you want to download your activities from</h3>
</div>
<hr>
<div class="container"> 
<form action="#" method="post">
    {{ form.dt(class='datepicker') }}
    {{ form.hidden_tag() }}
    <input type="submit"/>
</form>
</div>
{% endblock %}